{% if site.google_analytics %}
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}" data-proofer-ignore></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', '{{ site.google_analytics }}');
</script>

<script type="text/javascript">
var _iub = _iub || [];
_iub.csConfiguration = {"siteId":4374920,"cookiePolicyId":14433792,"lang":"en","storage":{"useSiteId":true}};
</script>
<script type="text/javascript" src="https://cs.iubenda.com/autoblocking/4374920.js" data-proofer-ignore></script>
<script type="text/javascript" src="//cdn.iubenda.com/cs/gpp/stub.js" data-proofer-ignore></script>
<script type="text/javascript" src="//cdn.iubenda.com/cs/iubenda_cs.js" charset="UTF-8" async data-proofer-ignore></script>
{% endif %}
